<div class="view-image-portfolio-wrapper">

  <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="0px">

    <div fxFlex="25" class="view-container-left">
      <!-- <img src="assets/images/1.jpg"> -->
    </div>

    <div fxFlex="50" class="view-container-center">

      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">

        <div fxFlex="100" class="image-item-wrapper">
          <img src="assets/images/1.jpg">
        </div>

        <div fxFlex="100" class="item-info">
            <h4 class="title">Title Of the Picture Goes Here</h4>
        </div>
        <div fxFlex="100" fxLayout class="social-buttons" fxLayoutAlign="center center">
            <!-- <span class="total-views">5000</span> -->
            <div fxFlex></div>
            <span class="total-favs">230</span>
            <button mat-icon-button class="btn-share">
              <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
            </button>


            <button mat-icon-button class="btn-share">
              <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
            </button>
          </div>
        <div fxFlex="100" class="item-info">

            <!-- <p class="published">Published on Mar 1, 2018</p> -->
          <mat-list class="user">
            <!-- <h3 mat-subheader>Folders</h3> -->
            <mat-list-item>
              <mat-icon mat-list-icon>account_circle</mat-icon>
              <h4 mat-line>Jhon Dow Smith</h4>
              <p mat-line>Jan 1, 2016 @ Centran Park</p>
            </mat-list-item>
            <p class="description">Mark Sisson is a former endurance athlete turned nutrition author and entrepreneur. In 2006, he began his popular health blog, Mark’s Daily Apple, where he’s blogged every day for 12+ years. Mark is the founder of Primal Kitchen Foods and best-selling author of several books including The... </p>

            <!-- <mat-divider></mat-divider> -->

          </mat-list>
        </div>



        <div fxFlex="100" class="item-comments">
          <mat-form-field class="item-comment-box">
            <textarea matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </div>

        <div fxFlex="100" class="item-comments">
          <h4 class="comment-user">@baby_boom:<span> Great Pic</span></h4>
          <h4 class="comment-user">@baby_boom:<span> Awesome PhotoAwesome PhotoAwesome PhotoAwesome PhotoAwesome Photo</span></h4>
          <h4 class="comment-user">@baby_boom:<span> Looking Gorgious</span></h4>
          <h4 class="comment-user">@baby_boom:<span> Nice</span></h4>
        </div>

      </div>


    </div>
    <div fxFlex="25" class="view-container-right">
      <!-- <img src="assets/images/1.jpg"> -->
    </div>

  </div>

</div>
