<div class="basic-info-wrapper">


  <div class="basic-info" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0px">

    <div fxFlex="75">

      <div class="basic-info-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
        <div fxFlex="100" class="cover-photo">
          <img src="assets/images/cover-photo.png" class="setup-profile-cover-photo-icon">
        </div>
      </div>

      <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px">

        <div fxFlex="13" class="profile-photo">
          <div class="photo-container">
            <img src="assets/images/profile-pic-2.png">
          </div>

        </div>

        <div fxFlex="25" class="social-items">
          <button mat-icon-button color="warn" class="social-items__item">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="social-items__item">
            <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="social-items__item">
            <mat-icon aria-label="Example icon-button with a heart icon">star</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="social-items__item">
            <mat-icon aria-label="Example icon-button with a heart icon">whatshot</mat-icon>
          </button>
          <button mat-icon-button color="warn" class="social-items__item">
            <mat-icon aria-label="Example icon-button with a heart icon">notifications_none</mat-icon>
          </button>

        </div>

      </div>

      <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px">

        <div fxFlex="50" class="profile-introduction">
          <h3 matLine class="name">Argenis Vega, 33</h3>
          <h3 matLine class="profession">B. A. Graphic Design</h3>
          <h3 matLine class="address">CDMX, México</h3>
        </div>

      </div>

      <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px">

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Email:</h3>
          <h3 matLine class="details-text">arge.vega@gmail.com</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Idiomas:</h3>
          <h3 matLine class="details-text">Español (nativo), Ingles (fluído)</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Compañía:</h3>
          <h3 matLine class="details-text">HEX Design</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Phone:</h3>
          <h3 matLine class="details-text">555-555-555</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Edad:</h3>
          <h3 matLine class="details-text">31-36</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Agencia:</h3>
          <h3 matLine class="details-text">HEX Design</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Mobile:</h3>
          <h3 matLine class="details-text">555-555-555</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Sindicato:</h3>
          <h3 matLine class="details-text">Ninguno</h3>
        </div>

        <div fxFlex="30" class="profile-details">
          <h3 matLine class="details-label">Experiencia:</h3>
          <h3 matLine class="details-text">5 años</h3>
        </div>

      </div>

      <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px">

        <div fxFlex="90" class="info-divider">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="90" class="profile-bio">
          <h3 matLine class="title">Bio...</h3>
          <h3 matLine class="details-text">According to the research firm Frost & Sullivan, the estimated size of the North American used test and measurement
            equipment market was $446.4 million in 2004 and is estimated to grow to $654.5 million by 2011. For over 50 years,
            companies and governments have procured used test and measurement instruments in order to realize a number of
            benefits including the need to:
            <br>
            <br> – reduce equipment acquisition costs,
          </h3>
        </div>


      </div>

      <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px">

        <div fxFlex="90" class="info-divider">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="90" class="profile-certification">
          <h3 matLine class="title">Certifications</h3>

          <div class="certification-badge">
            <img src="assets/images/certif-medal-icon.png">
            <h3 matLine class="badge-title">Certification</h3>
          </div>
          <div class="certification-badge">
            <img src="assets/images/certif-medal-icon.png">
            <h3 matLine class="badge-title">Certification</h3>
          </div>
          <div class="certification-badge">
            <img src="assets/images/certif-medal-icon.png">
            <h3 matLine class="badge-title">Certification</h3>
          </div>
          <div class="certification-badge">
            <img src="assets/images/certif-medal-icon.png">
            <h3 matLine class="badge-title">Certification</h3>
          </div>
          <div class="certification-badge">
            <img src="assets/images/certif-medal-icon.png">
            <h3 matLine class="badge-title">Certification</h3>
          </div>


        </div>


      </div>

      <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px">

        <div fxFlex="90" class="info-divider">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="90" class="profile-endrosments">
          <h3 matLine class="title">Endorsments</h3>

          <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="skills-wrap">

            <div fxFlex="30" class="skills">
                <div  class="skill-title">
                    <h3 matLine>Skill 1</h3>
                  </div>
            </div>
            

            <div fxFlex="70" >
              
              <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">
                
                <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                    
                </div>

                <div fxFlex="70" class="endrosments-profile-links">
                    <a routerLink="" class="first-profile">Stevens</a>  and <a routerLink="" class="">7 crewners</a> have given endoresements for this skills
                </div>
              </div>
              
            </div>

          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="skills-wrap">

            <div fxFlex="30" class="skills">
                <div  class="skill-title">
                    <h3 matLine>Skill 1</h3>
                  </div>
            </div>
            

            <div fxFlex="70" >
              
              <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">
                
                <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                    
                </div>

                <div fxFlex="70" class="endrosments-profile-links">
                    <a routerLink="" class="first-profile">Stevens</a>  and <a routerLink="" class="">7 crewners</a> have given endoresements for this skills
                </div>
              </div>
              
            </div>

          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="skills-wrap">

            <div fxFlex="30" class="skills">
                <div  class="skill-title">
                    <h3 matLine>Skill 1</h3>
                  </div>
            </div>
            

            <div fxFlex="70" >
              
              <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">
                
                <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                    
                </div>

                <div fxFlex="70" class="endrosments-profile-links">
                    <a routerLink="" class="first-profile">Stevens</a>  and <a routerLink="" class="">7 crewners</a> have given endoresements for this skills
                </div>
              </div>
              
            </div>

          </div>
          
          <div fxLayout="row wrap" fxLayoutAlign="center center" class="skills-wrap">

            <div fxFlex="30">
              <button mat-button routerLink="" class="view-more">VIEW 43 MORE</button>
            </div>
            

            <!-- <div fxFlex="70" >
              
              <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">
                
                <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                  <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                    
                </div>

                <div fxFlex="70" class="endrosments-profile-links">
                    <a routerLink="" class="first-profile">Stevens</a>  and <a routerLink="" class="">7 crewners</a> have given endoresements for this skills
                </div>
              </div>
              
            </div> -->

          </div>

        </div>


      </div>

    </div>

    <div fxFlex="25">

      <div class="basic-info-widgets" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">

        widget contents
      </div>

    </div>

  </div>

</div>