.basic-info-wrapper {
  width: 100%;
  display: block;
}

.basic-info {
  width: 100%;
  height: 100vh;
  display: block;
}

.basic-info-content {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;

  .cover-photo {
    width: 100%;
    height: 240px;
    background-color:rgba(224, 224, 224, 0.35);
    overflow: hidden;

    img {
      width: 100%;
    }

    input {
      opacity: 0;
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    input:hover {
      opacity: 0;
    }
  }

  .profile-photo {
    // width: 100%;

    .photo-container {
      position: relative;
      width: 160px;
      height: 160px;
      background-color: rgba(224, 224, 224, 0.35);
      margin-top: -50%;
      border: 5px solid #fff;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }

      input {
        opacity: 0;
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        cursor: pointer;

        // width: 100%;
        // height: 50px;
        // max-height: 50px;
        // color: #000;
      }

      input:hover {
        opacity: 0;
      }

    }
  }

  .btn-save-cover-photo {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 3px !important;
    z-index: 99;
  }

  .btn-save-profile-photo {
    position: absolute;
    left: 0;
    bottom: 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 3px !important;
    right: 0;
    width: 100%;
    z-index: 99;
  }

  .social-items {
    position: absolute;
    right: 0;
    top: 0;

    .social-items__item {
    }
  }

  .profile-introduction {
    width: 100%;
    padding: 15px 0px 0px 25px;
    margin-bottom: 30px;

    .name {
      color: #fc4000;
      text-align: center;
      font-size: 42px;
      margin: 0;
    }
    .profession {
      color: #262626;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
    .address {
      color: #262626;
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
  }

  .profile-introduction.edit-profile {
    margin-bottom: 0px !important;
  }

  .profile-details {
    width: 100%;
    margin: 10px 0px;
    // padding-left: 65px;

    .details-label {
      color: #fc4000;
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }

    .details-text {
      color: #262626;
      text-align: left;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }
  }

  .info-divider {
    width: 100%;
    overflow: hidden;
    margin: 30px 0px;
  }

  .profile-bio {
    width: 100%;

    .title {
      color: #fc4000;
      font-size: 38px;
      font-weight: 400;
      text-align: left;
      margin: 0;
    }
    .details-text {
      width: 90%;
      color: #555555;
      font-size: 16px;
      font-weight: 400;
      text-align: justify;
      margin: 0;
    }
  }

  .profile-certification {
    width: 100%;

    .title {
      color: #fc4000;
      font-size: 38px;
      font-weight: 400;
      text-align: left;
      margin: 0;
    }

    .certification-badge {
      width: 90px;
      margin-top: 15px;
      margin-right: 20px;
      display: inline-block;

      img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
      }
      .badge-title {
        color: #262626;
        text-align: center;
        font-weight: 400;
        font-size: 13px;
        margin: 0;
      }
    }
  }

  .profile-endrosments {
    width: 100%;
    margin-bottom: 30px;

    .title {
      color: #fc4000;
      font-size: 38px;
      font-weight: 400;
      text-align: left;
      margin: 0;
    }

    .skills-wrap {
      width: 100%;
      margin-top: 15px;

      .skills {
        width: 100%;
        margin-top: 10px;

        .skill-title {
          background-color: #ffa994;
          display: inline-block;
          border-radius: 25px;

          h3 {
            margin: 0;
            padding: 7px 30px 7px 30px;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }

      .skill-endrosments {
        display: inline-block;
        width: 80%;

        .endoresements-img-profile {
          width: 40px;
          height: 40px;
          padding-right: 45px;

          a {
            color: #fc4000;
            width: 38px;
            height: 38px;
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 25px;
            background-color: #fff;
            margin-right: -20px;

            img {
              width: inherit;
              height: inherit;
            }
          }
        }

        .endrosments-profile-links {
          color: #555555;
          font-weight: 600;
          font-size: 16px;

          .first-profile {
            color: #fc4000;
          }
          .more-people {
            color: #000;
          }
        }
      }

      .view-more {
        color: #fc4000;
        font-size: 20px;
        font-weight: 400 !important;
        width: 100%;
      }
    }
  }
}

.twitter-sidebar {
  min-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.basic-info-widgets {
}

.edit-name {
  color: #fc4000;
  text-align: center;
  font-size: 20px;
  margin: 0;
  width: 100%;
}
.edit-age,
.edit-profession,
.edit-address {
  color: #fc4000;
  text-align: center;
  font-size: 15px;
  margin: 0;
  width: 100%;
}

.edit-contacts {
  color: #fc4000;
  text-align: left;
  font-size: 15px;
  margin: 0;
  width: 90%;
}

.bio-text {
  height: 150px;
  min-height: 100px;
}

.profile-photo {
  position: relative;
}
.profile-photo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.44);
  top: 0;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
}

// Uploading Over Lay


.uploading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 16, 16, 0.29);

  .spinner {
    position: absolute;
    left: 48%;
    top: 40%;
  }

  .uploading-message {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #f9f9f9;
    font-size: 20px;
    font-weight: 400;
  }
}

// Basic Info

.basic-info-content .profile-introduction {
  width: 100%;
  padding: 0 !important;
  margin-bottom: 20px !important;
}

@media screen and (max-width: 599px) {
  .profile-photo {
    min-width: 160px !important;
  }

  .basic-info-content {
    max-width: 100% !important;

    .profile-introduction.edit-profile {
      max-width: 90% !important;
      margin: 0 auto !important;
    }
  }

  .social-items {
    position: relative !important;
    right: 0 !important;
  }

  .profile-details {
    text-align: center;
    // padding-left: 40px !important;
    h3, .edit-contacts {
      text-align: center !important;
    }
  }
}