<mat-sidenav-container>
  <form action="" [formGroup]="profileDataFrom">
    <div class="basic-info-wrapper">
      <div class="basic-info" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="0px">

        <div fxFlex="100">

          <div class="basic-info-content" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
            <div fxFlex="100" class="cover-photo">
              <img [src]='sanitizer.bypassSecurityTrustUrl(currentUser.coverPhotoUrl)' class="setup-profile-cover-photo-icon">
              <div class="profile-photo-overlay" style="background-image: url('../../../../assets/images/cloud-upload.png')" *ngIf="edit">
                <input type="file" (change)="changeCoverPhoto($event)" accept=".png,.jpg" >
              </div>
            </div>
            <button mat-button color="warn" class="btn-save-cover-photo" *ngIf="edit" (click)="saveCoverPhoto()" >
              SAVE COVER PHOTO
            </button>

          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px">

            <div fxFlex="13" class="profile-photo">
              <div class="photo-container">
                <!-- <img [src]='profilePicture || sanitizer.bypassSecurityTrustUrl(currentUser.profilePhotoUrl)'> -->
                <img [src]='profilePicture'>
                <div class="profile-photo-overlay" style="background-image: url('../../../../assets/images/cloud-upload.png')" *ngIf="edit">
                  <input type="file" (change)="changeProfilePic($event)" accept=".png,.jpg" >
                </div>
                <button mat-button color="warn" class="btn-save-profile-photo" *ngIf="edit" (click)="saveProfilePhoto()" >
                  SAVE
                </button>
              </div>



            </div>

            <div fxFlex="25" class="social-items">
              <button mat-icon-button color="warn" class="social-items__item" (click)="uploadProfilePhoto()">
                <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="social-items__item">
                <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="social-items__item" (click)="editPage()" *ngIf="!edit">
                <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" class="social-items__item" (click)="savePage()" *ngIf="edit">
                <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
              </button>

            </div>

          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px" *ngIf="!edit">

            <div fxFlex="50" class="profile-introduction">
              <h3 matLine t-font-light class="name">{{currentUser.firstName }} {{currentUser.lastName }},
                {{currentUser.age}}</h3>
              <h3 matLine class="profession">{{currentUser.mainProfession}}</h3>
              <h3 matLine class="address">{{currentUser.address}}</h3>
            </div>

          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px" *ngIf="edit">

            <div fxFlex="45" class="profile-introduction edit-profile">
              <mat-form-field class="edit-name">
                <input matInput placeholder="First Name" value="{{currentUser.firstName}}" formControlName="first_name">
              </mat-form-field>
            </div>

            <div fxFlex="45" class="profile-introduction edit-profile">
              <mat-form-field class="edit-name">
                <input matInput placeholder="Last Name" value="{{currentUser.lastName}}" formControlName="last_name">
              </mat-form-field>
            </div>

            <div fxFlex="20" class="profile-introduction edit-profile">
              <mat-form-field class="edit-age" >
                <input matInput placeholder="Age" value="{{currentUser.age}}" formControlName="age">
                <!-- <mat-select placeholder="Age" value="{{currentUser.age}}" formControlName="age">
                  <mat-option value="18">18</mat-option>
                  <mat-option value="19">19</mat-option>
                  <mat-option value="20">20</mat-option>
                  <mat-option value="21">21</mat-option>
                  <mat-option value="30">30</mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>

            <div fxFlex="20" class="profile-introduction edit-profile">
              <mat-form-field class="edit-profession">
                <input matInput placeholder="Profession" value="{{currentUser.mainProfession}}" formControlName="profession">
              </mat-form-field>
            </div>
            <div fxFlex="40" class="profile-introduction edit-profile">
              <mat-form-field class="edit-address">
                <input matInput placeholder="Address" value="{{currentUser.address}}" formControlName="address">
              </mat-form-field>
            </div>

            <!-- <div fxFlex="20" class="profile-introduction edit-profile">
              <mat-form-field class="edit-address">
                <input matInput placeholder="City" value="{{currentUser.city}}" formControlName="city">
              </mat-form-field>
            </div> -->

          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px" *ngIf="!edit">

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Email:</h3>
              <h3 matLine class="details-text">{{currentUser.email}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Languages:</h3>
              <h3 matLine class="details-text">{{currentUser.languages}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Company:</h3>
              <h3 matLine class="details-text">{{currentUser.company}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Phone:</h3>
              <h3 matLine class="details-text">{{currentUser.phoneNumber}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Edad:</h3>
              <h3 matLine class="details-text">{{currentUser.age}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Agencia:</h3>
              <h3 matLine class="details-text">{{currentUser.agency}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Mobile:</h3>
              <h3 matLine class="details-text">{{currentUser.mobileNumber}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Sindicato:</h3>
              <h3 matLine class="details-text">{{currentUser.union}}</h3>
            </div>

            <div fxFlex="30" class="profile-details">
              <h3 matLine class="details-label">Experiencia:</h3>
              <h3 matLine class="details-text">{{currentUser.experiences}}</h3>
            </div>

          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px" *ngIf="edit">

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Email" value="{{currentUser.email}}" formControlName="email">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Idiomas" value="{{currentUser.languages}}" formControlName="languages">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Compañía" value="{{currentUser.company}}" formControlName="company">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Phone" value="{{currentUser.phoneNumber}}" formControlName="phone">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Edad" value="{{currentUser.age}}" formControlName="age">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Agencia" value="{{currentUser.agency}}" formControlName="agency">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Mobile" value="{{currentUser.mobileNumber}}" formControlName="mobile">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Sindicato" value="{{currentUser.union}}" formControlName="union">
              </mat-form-field>
            </div>

            <div fxFlex="30" class="profile-details">
              <mat-form-field class="edit-contacts">
                <input matInput placeholder="Experiencia" value="{{currentUser.experiences}}" formControlName="experience">
              </mat-form-field>
            </div>

          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px" *ngIf="!edit">

            <div fxFlex="90" class="info-divider">
              <mat-divider></mat-divider>
            </div>

            <div fxFlex="90" class="profile-bio">
              <h3 matLine class="title">Bio...</h3>
              <h3 matLine class="details-text">{{currentUser.mainProfessionCoverText}}
              </h3>
            </div>


          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px" *ngIf="edit">

            <div fxFlex="90" class="info-divider">
              <mat-divider></mat-divider>
            </div>

            <div fxFlex="90" class="profile-bio">
              <h3 matLine class="title">Bio...</h3>
              <mat-form-field class="edit-contacts">
                <textarea matInput placeholder="" matAutosize='true' matAutosizeMinRows="15" class="bio-text"
                  formControlName="bio" value="{{currentUser.mainProfessionCoverText}}"></textarea>
              </mat-form-field>
            </div>


          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px">

            <div fxFlex="90" class="info-divider">
              <mat-divider></mat-divider>
            </div>

            <div fxFlex="90" class="profile-certification">
              <h3 matLine class="title">Certifications</h3>

              <div class="certification-badge">
                <img src="assets/images/certif-medal-icon.png">
                <h3 matLine class="badge-title">Certification</h3>
              </div>
              <div class="certification-badge">
                <img src="assets/images/certif-medal-icon.png">
                <h3 matLine class="badge-title">Certification</h3>
              </div>
              <div class="certification-badge">
                <img src="assets/images/certif-medal-icon.png">
                <h3 matLine class="badge-title">Certification</h3>
              </div>
              <div class="certification-badge">
                <img src="assets/images/certif-medal-icon.png">
                <h3 matLine class="badge-title">Certification</h3>
              </div>
              <div class="certification-badge">
                <img src="assets/images/certif-medal-icon.png">
                <h3 matLine class="badge-title">Certification</h3>
              </div>


            </div>


          </div>

          <div class="basic-info-content" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="0px">

            <div fxFlex="90" class="info-divider">
              <mat-divider></mat-divider>
            </div>

            <div fxFlex="90" class="profile-endrosments">
              <h3 matLine class="title">Endorsments</h3>

              <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="skills-wrap">

                <div fxFlex="30" class="skills">
                  <div class="skill-title">
                    <h3 matLine>Skill 1</h3>
                  </div>
                </div>


                <div fxFlex="70">

                  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">

                    <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>

                    </div>

                    <div fxFlex="70" class="endrosments-profile-links">
                      <a routerLink="" class="first-profile">Stevens</a> and <a routerLink="" class="">7 crewners</a>
                      have given endoresements for this skills
                    </div>
                  </div>

                </div>

              </div>
              <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="skills-wrap">

                <div fxFlex="30" class="skills">
                  <div class="skill-title">
                    <h3 matLine>Skill 1</h3>
                  </div>
                </div>


                <div fxFlex="70">

                  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">

                    <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>

                    </div>

                    <div fxFlex="70" class="endrosments-profile-links">
                      <a routerLink="" class="first-profile">Stevens</a> and <a routerLink="" class="">7 crewners</a>
                      have given endoresements for this skills
                    </div>
                  </div>

                </div>

              </div>
              <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="skills-wrap">

                <div fxFlex="30" class="skills">
                  <div class="skill-title">
                    <h3 matLine>Skill 1</h3>
                  </div>
                </div>


                <div fxFlex="70">

                  <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">

                    <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                      <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>

                    </div>

                    <div fxFlex="70" class="endrosments-profile-links">
                      <a routerLink="" class="first-profile">Stevens</a> and <a routerLink="" class="">7 crewners</a>
                      have given endoresements for this skills
                    </div>
                  </div>

                </div>

              </div>

              <div fxLayout="row wrap" fxLayoutAlign="center center" class="skills-wrap">

                <div fxFlex="30">
                  <button mat-button routerLink="" class="view-more">VIEW 43 MORE</button>
                </div>


                <!-- <div fxFlex="70" >

                <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="0px" class="skill-endrosments">

                  <div fxFlex="30" class="endoresements-img-profile" fxLayoutAlign="end center">
                    <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                    <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>
                    <a routerLink=""><img src="assets/images/certif-medal-icon.png"></a>

                  </div>

                  <div fxFlex="70" class="endrosments-profile-links">
                      <a routerLink="" class="first-profile">Stevens</a>  and <a routerLink="" class="">7 crewners</a> have given endoresements for this skills
                  </div>
                </div>

              </div> -->

              </div>

            </div>


          </div>

        </div>

      </div>
    </div>

  </form>

  <!-- RIGHT SIDEBAR -->
  <mat-sidenav class="twitter-sidebar" position="end" opened="true" [mode]="'side'" matSidebarHelper="profile-widget-sidenav"
    mat-is-locked-open="gt-md">

    <div t-p-1>
      <button mat-stroked-button t-width-full color="primary"></button>
    </div>

    <div class="tweets-wrap">
      <div class="twitter-header">

      </div>

      <div class="tweets-body">

      </div>
    </div>

  </mat-sidenav>

</mat-sidenav-container>
