<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="0px" class="view-video-portfolio-wrapper">


    <div fxFlex="75" class="video-container">

      <div class="video-top">
        <button mat-icon-button class="btn-goback" (click)="goBack()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <a href=""><h4 class="video-title">Carl Sagan - The Pale Blue Dot</h4></a>


      </div>


      <vg-player>

          <div class="audio-thumb">
              <img src="https://images-na.ssl-images-amazon.com/images/I/51tDjE5h5WL.jpg">
            </div>
        <vg-overlay-play>

        </vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <div class="btn-overlay">

          <button mat-button class="btn-favorite">
            <span class="fav-count">52 Comments</span>
            <mat-icon>chat_bubble_outline</mat-icon>
          </button>

          <button mat-button class="btn-favorite">
            <span class="fav-count">5 Shares</span>
            <mat-icon>share</mat-icon>
          </button>

          <button mat-button class="btn-favorite">
            <span class="fav-count">290 Likes</span>
            <mat-icon>favorite_border</mat-icon>
          </button>

        </div>

        <vg-controls>
          <vg-play-pause>
            <mat-icon>play</mat-icon>
          </vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <!-- <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
          <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
          <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
          <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">

          <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
            srclang="en" default>
          <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
            srclang="es">
        </video> -->

        <audio [vgMedia]="media" #media id="myAudio" preload="auto">
            <source src="http://static.videogular.com/assets/audios/videogular.mp3" type="audio/mp3">
        </audio>
      </vg-player>




    </div>

    <div fxFlex="25" class="video-sidebar">

      <div class="video-sidebar-content-wrapper">


        <div class="video-sidebar-top">

          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
            <div fxFlex="10%" class="user-avater">
              <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                  class="avater"></a>
            </div>
            <div fxFlex="80">
              <div class="user-info">
                <a routerLink="/profile/info" class="user-name">
                  <h4 mat-line>Jhon Dow Smith</h4>
                </a>
                <p mat-line>Jan 1, 2016 @Centran Park</p>
                <!-- <div class="tag-list">
                      <a routerLink="/profile/portfolio" class="tag">#Video</a>
                      <a routerLink="/profile/portfolio" class="tag">#Pilot</a>
                      <a routerLink="/profile/portfolio" class="tag">#Production</a>
                    </div> -->
              </div>
            </div>
          </div>

          <button mat-button class="btn-close-video-sidebar" (click)="goBack()">
            <mat-icon>close</mat-icon>
          </button>
        </div>

        <div class="video-description">
          <p class="description">Mark Sisson is a former endurance athlete turned nutrition author and entrepreneur.
            In 2006, he began his popular health blog, Mark’s Daily Apple, where he’s blogged every day for 12+
            years...</p>


        </div>



        <div class="video-comments">

          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith <span> 2 weeks ago</span></h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>

                  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
                    <div fxFlex="10%" class="user-avater">
                      <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                          class="avater"></a>
                    </div>
                    <div fxFlex="80">
                      <div class="user-info">
                        <a routerLink="/profile/info" class="user-name">
                          <h4 mat-line>Jhon Dow Smith <span> 2 weeks ago</span></h4>
                        </a>
                        <p mat-line class="comment-text">As they say in Tamil Nadu.. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil insteadAs they say in
                    Tamil Nadu.. "we dont Speak tamil insteadAs they say in Tamil Nadu.. "we dont Speak tamil instead
                    we breath tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>
          <div class="video-comment">
            <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="video-user-info">
              <div fxFlex="10%" class="user-avater">
                <a routerLink="/profile/info"><img src="http://alexwinter.com/media/images/grand_piano_poster_wide.jpg"
                    class="avater"></a>
              </div>
              <div fxFlex="80">
                <div class="user-info">
                  <a routerLink="/profile/info" class="user-name">
                    <h4 mat-line>Jhon Dow Smith</h4>
                  </a>
                  <p mat-line class="comment-text">As they say in Tamil Nadu.. "we dont Speak tamil instead we breath
                    tamil". True gift to man kind!﻿</p>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>

      <div class="video-user-comment-input">
        <mat-form-field class="item-comment-box">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
      </div>


    </div>


  </div>
