/*************************
  Material adjustments
*************************/

//================= Mat Buttons ===============
.mat-button, 
.mat-flat-button, 
.mat-stroked-button,
.mat-raised-button
{
  font-weight: normal !important;
  border-radius: 0 !important;
}

.mat-flat-button {
  transition: .3s all;
  &:hover:not([disabled]) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12) !important;
  }
}

.mat-drawer-container {
  background-color: #ffffff !important;
}