//================ Common html fixes =============
html, 
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: $foreground;
  -webkit-tap-highlight-color: mat-color($primary);
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none;
}

select,
button,
textarea,
input {
  vertical-align: baseline;
}
div {
  box-sizing: border-box;
}
html, body {
  &[dir=rtl], &[dir=ltr] {
     unicode-bidi: embed
  }
}
bdo[dir=rtl] {
  direction: rtl;
  unicode-bidi: bidi-override;
}
bdo[dir=ltr] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

img {
  max-width: 100%;
}
a, a:focus, a:hover {
  text-decoration: none;
}

//================= Reusable classes and attributes ==================
//================= Margins ==================
.t-m-0,
[t-m-0] {
  margin: 0 !important;
}
.t-m-05,
[t-m-05] {
  margin: 0.5rem !important;
}
.t-m-1,
[t-m-1] {
  margin: 1rem !important;
}
.t-mt-1,
[t-mt-1] {
  margin-top: 1rem !important;
}
.t-mt-05,
[t-mt-05] {
  margin-top: .5rem !important;
}
.t-mt-0,
[t-mt-0] {
  margin-top: 0 !important;
}
.t-mr-1,
[t-mr-1] {
  margin-right: 1rem !important;
}
.t-mr-05,
[t-mr-05] {
  margin-right: .5rem !important;
}
.t-mr-0,
[t-mr-0] {
  margin-right: 0 !important;
}
.t-mb-1,
[t-mb-1] {
  margin-bottom: 1rem !important;
}
.t-mb-0,
[t-mb-0] {
  margin-bottom: 0 !important;
}
.t-ml-1,
[t-ml-1] {
  margin-left: 1rem !important;
}
.t-ml-05,
[t-ml-05] {
  margin-left: .5rem !important;
}
.t-ml-0,
[t-ml-0] {
  margin-left: 0 !important;
}
.t-mb-05,
[t-mb-05] {
  margin-bottom: .5rem !important;
}
.t-m-033,
[t-m-033] {
  margin: .333333rem !important;
}

/*=============== Paddings =====================*/
.t-pt-1,
[t-pt-1] {
  padding-top: 1rem !important;
}
.t-pt-0,
[t-pt-0] {
  padding-top: 0 !important;
}
.t-pr-1,
[t-pr-1] {
  padding-right: 1rem !important;
}
.t-pr-0,
[t-pr-0] {
  padding-right: 0 !important;
}
.t-pb-1,
[t-pb-1] {
  padding-bottom: 1rem !important;
}
.t-pb-0,
[t-pb-0] {
  padding-bottom: 0 !important;
}
.t-pl-1,
[t-pl-1] {
  padding-left: 1rem !important;
}
.t-pl-0,
[t-pl-0] {
  padding-left: 0 !important;
}
.t-p-0,
[t-p-0] {
  padding: 0 !important;
}
.t-p-1,
[t-p-1] {
  padding: 1rem !important;
}
.t-p-05,
[t-p-05] {
  padding: .5rem !important;
}
.t-height-100,
[t-height-100] {
  min-height: 100vh;
}
.t-fix,
[t-fix] {
  position: relative;
  overflow: hidden;
}
.t-fix-elm,
[t-fix-elm]::after {
  display: table;
  width: 100%;
  content: "";
}
.t-clear,
[t-clear] {
  clear: both;
}


//==================== Texts =====================
.t-text-center,
[t-text-center] {
  text-align: center
}

[t-text-muted]
.t-text-muted {
  color: #cccccc;
}



//==================== Widths =====================
.t-width-full,
[t-width-full] {
  width: 100%;
}
.t-width-lg,
[t-width-lg] {
  width: 1200px;
}
.t-width-md,
[t-width-md] {
  width: 980px;
}
.t-width-sm,
[t-width-sm] {
  width: 640px;
}
.t-width-xs,
[t-width-xs] {
  width: 300px;
}
.t-width-100,
[t-width-100] {
  width: 100px;
}
.t-width-200,
[t-width-200] {
  width: 200px;
}
.t-width-300,
[t-width-300] {
  width: 200px;
}
//================== Componet specific Attributes and classes ============
button.t-wide,
button[t-wide] {
  padding: 0 45px;
}
textarea.t-wide,
textarea[t-wide] {
  width: 220px;
}

button.t-icon,
button[t-icon] {
  .mat-icon {
    height: 20px;
    width: 20px;
    font-size: 20px;
    line-height: 18px;
    margin: 0 4px;
  }
}

button.t-small,
button[t-small] {
  font-size: 12px !important;
  height: 30px;
  line-height: 28px !important;
  .mat-icon {
    height: 18px;
    width: 18px;
    font-size: 18px;
    line-height: 16px;
  }
}


// ================ New component styles ================
.t-textarea,
[t-textarea] {
  position: relative;
  label {
    color: mat-color($primary);
    position: absolute;
    font-size: 18px;
    left: 16px;
    top: 14px;
    font-weight: 300;
    z-index: 99;
  }
  textarea {
    border: 1px solid #cccccc;
    min-height: 80px;
    padding-left: 16px;
    padding-top: 55px;
    box-sizing: border-box;
    &:focus {
      outline: 0;
      border-color: mat-color($primary);
    }
  }
}
