.sidenav-layout-wrap {
  .mat-drawer-container {
    min-height: 100vh;
  }
  .header-top {
    height: 68px;

    .propic-topbar {
      height: 42px;
      width: auto;
      margin: 16px;
    }
    .logo-topbar {
      height: 38px;
      width: auto;
    }

    .search-wrap {
      padding: 5px;
    }

    .search-wrap-form {
      padding: 0;
    }

    .topbar-right {
      margin-right: 10px;
    }

    .topbar-right-button {
      width: 50px;
      min-width: 40px;
      max-height: 50px;
      padding: 0;
      margin: 0 10px;
    }
  }
  .header-bottom {
    height: 42px;
    background: #000000;

    .header-bottom-left {
      height: 100%;
      padding: 0 5px;
    }

    .header-bottom-left-button {
      height: 100%;
      color: #fff;
      font-weight: 500 !important;
      border-bottom: 3px solid #000000;
    }

    .active {
      height: 100%;
      color: #fff;
      border-bottom: 3px solid #fc4000;
    }
  }

  .main-sidebar {
    width: 240px;
    min-height: 100vh;
    border-right: 1px solid #ccc;
    .user-intro-wrap {
      padding: 16px;
      p {
        color: rgba(0, 0, 0, 0.7);
      }
      .propic-wrap {
        width: 120px;

        img {
          width: 100%;
          border-radius: 50%;
          border: 3px solid #15de15;
        }
      }
    }
    .quick-menu {
      button {
        padding: 0;
        min-width: 24px;
      }
    }
    .side-navigation {

        .side-navigation-nav-list {

        }
      .side-navigation-nav-list a {
        // border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
      }
      
      .side-navigation-nav-list  a:first-child{
        border-top: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
      }
      
      .side-navigation-nav-list .active{
        border-right: 5px solid #fc4000;
      }
    }
  }
  .content-center {
  }

  .profile-items-container {
    width: 100%;
    height: 100%;
  }
}
