<div>
  <h3 t-color-primary t-font-light t-mb-05>Add profile picture</h3>
  <div class="profile-photo-upload-zone">
    
    <div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px" class="profile-photo-upload-photo">
      
      <!-- <div fxFlex="10">
        <img src="assets/images/cloud-upload.png" class="setup-profile-upload-icon">
      </div>
    
      <div fxFlex="10">
        <a href="" t-color-primary t-font-bold>Click here or drag a picture</a>
      </div> -->

      <div fxFlex="100" class="profile-photo-photo-wrapper">
        <img src="assets/images/profile-pic.png">
        <!-- <div class="profile-photo-photo-overlay"></div> -->
      </div>

    </div>
  </div>
  
  <div class="profile-photo-upload-buttons">
    <div fxLayout="row wrap" fxLayoutAlign="end end">
      <div fxFlex></div>
      <div fxFlex="50" class="profile-photo-upload-button">
        <button mat-button class="profile-photo-upload-button-cencel">CANCEL</button>
        <button mat-button class="profile-photo-upload-button-select">SELECT</button>
      </div>
    </div>
  </div>
  
</div>