<div>
    <h3 t-color-primary t-font-light t-mb-05>Upload your cover letter</h3>
    <div class="cover-letter-upload-zone">
      <div fxLayout="row wrap">
        <div fxFlex="20">
          <img src="assets/images/cloud-upload.png" class="setup-profile-upload-icon">
        </div>
        <div fxFlex="80">
          <a href="" t-color-primary t-font-bold>Click or drag your files here</a>
          <p t-m-0>Import your Cover letter from Word or Google Docs <span class="t-text-muted">(admits  .word, .pdf)</span></p>
        </div>
      </div>
    </div>

    <h3 t-color-primary t-font-light t-mt-1 t-mb-05>...Or write it</h3>

    <div t-textarea>
        <label for="textarea">
          Label
        </label>
        <textarea t-width-full id="textarea"></textarea>
    </div>
</div>