<div>
  <h3 t-color-primary t-font-light t-mb-05>Add your cover photo</h3>
  <div class="cover-letter-upload-zone">
    <div fxLayout="row wrap">
      <div fxFlex="20">
        <img src="assets/images/cloud-upload.png" class="setup-profile-upload-icon">
      </div>
      <div fxFlex="80">
        <a href="" t-color-primary t-font-bold>Click here or drag your cover photo her</a>
        <!-- <p t-m-0>Import your Cover  from Word or Google Docs <span class="t-text-muted">(admits  .word, .pdf)</span></p> -->
      </div>
    </div>
  </div>

  <!-- <h3 t-color-primary t-font-light t-mt-1 t-mb-05>...Or write it</h3> -->

  <!-- <div t-textarea>
      <label for="textarea">
        Label
      </label>
      <textarea t-width-full id="textarea"></textarea>
  </div> -->
</div>