<form [formGroup]="portfolioForm">
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="0px" class="add-image-wrapper">

      <div fxFlex="100" class="item-container">

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="0px" class="container">

          <div fxFlex="75" fxFlex.xs="100" fxHide.xl="true" fxHide.lg="true" fxHide.md="true" class="item-preview-wrapper">
              <div class="script" *ngIf="portfolioItem">
                  <a id="mobileScriptView" href="" target="_blank"></a>
              </div>
          </div>

          <div fxFlex="25" class="add-item-wrapper">

            <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="0px">


              <div fxFlex="90" class="item">
                <h4 class="title">Add Picture</h4>
              </div>

              <div fxFlex="90" class="item">
                <div class="upload-btn-wrapper">
                  <button class="btn">Choose A Script File</button>
                  <input type="file" (change)="selectFileToUpload($event)" accept="application/pdf" name="myfile" id="localVideoPath" />
                </div>
                <!-- <p class="upload-file-name">No File Selected</p> -->
              </div>

              <div fxFlex="90" class="item">
                <mat-form-field class="add-title-input">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Add a title for you pic" formControlName="portfolioTitle">
                </mat-form-field>


              </div>

              <div fxFlex="90" class="item">
                <mat-form-field class="add-description-input">
                  <mat-label>Plot</mat-label>
                  <textarea matInput placeholder="Add a little description to your pic" matAutosize="true"
                    matAutosizeMinRows="4" formControlName="portfolioDescription"></textarea>
                </mat-form-field>
              </div>

              <div fxFlex="90" class="item">
                <mat-form-field class="add-place-input">
                  <mat-label>Location</mat-label>
                  <input matInput placeholder="Add place to your pic" formControlName="portfolioLocation">
                  <mat-icon matSuffix color="primary">location_on</mat-icon>
                </mat-form-field>
              </div>

              <div fxFlex="90" class="item">
                <mat-form-field class="add-place-input">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="picker" placeholder="Add date to your pic" formControlName="portfolioDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker color="primary"></mat-datepicker>
                </mat-form-field>
              </div>

              <div fxFlex="90" class="item">
                <mat-checkbox color="primary" class="add-quality-input" formControlName="portfolioQuality">High Quality</mat-checkbox>
              </div>

              <div fxFlex="90" class="item">
                <mat-form-field class="add-category-input">
                  <mat-chip-list #chipList>
                    <mat-chip class="tag-chips" *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
                      (removed)="remove(fruit)">
                      {{fruit}}
                      <mat-icon matChipRemove *ngIf="removable">clear</mat-icon>
                    </mat-chip>
                    <input placeholder="Category" #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                      [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                  </mat-chip-list>
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                      {{fruit}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div fxFlex="90" class="item">
                  <mat-label class="title">Add Thumbnail</mat-label>
                  <div class="item-thumb-wrapper">
                    <img [src]='sanitizer.bypassSecurityTrustUrl(portfolioThumbImageUrl)' id="videoThumb">
                    <div class="item-preview-overlay" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/crewnie-test.appspot.com/o/assets%2Fprofile-photo-upload.png?alt=media&token=37de1e7c-ec51-4041-b5b0-e5506902eea6')">
                      <h4 class="upload-msg-text">Click To Add Thumbnail Image</h4>
                      <input class="file-input" type="file" (change)="selectThumbImage($event)" accept=".png,.jpg">
                    </div>
                  </div>
                </div>


            </div>

          </div>

          <div fxFlex="75" fxHide.xs="true" class="item-preview-wrapper">

            <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="0px" class="item-preview-container">

              <div fxFlex="100" class="item-preview">
                <object id="portfolioScript" type="application/pdf" data="https://firebasestorage.googleapis.com/v0/b/crewnie-test.appspot.com/o/assets%2Fscript-place-holder.pdf?alt=media&token=9a6db991-1e56-43e7-8499-94e40d48d888"></object>
              </div>

            </div>

          </div>

        </div>
      </div>

      <div fxFlex="100" fxLayout="row" class="save-item-wrapper">
        <div fxFlex></div>
        <button mat-flat-button color="primary" class="btn-save" (click)="uploadAndSavePortfolio()"  [disabled]="IsUploading">SAVE</button>
      </div>
      <button mat-button class="btn-close" routerLink="/profile/portfolio">
        <mat-icon>close</mat-icon>
      </button>

      <div class="uploading-overlay" *ngIf="IsUploading" >
        <div  *ngIf="percentage | async as pct">
            <mat-progress-bar mode="determinate" [value]="pct"></mat-progress-bar>
        </div>

        <mat-spinner class="spinner" strokeWidth=5 diameter=50></mat-spinner>
        <mat-label class="uploading-message">UPLOADING FILES...</mat-label>
      </div>
    </div>

  </form>
