<div class="casting__call_wrapper">

  <div class="calendar__topbar" fxLayout="row" fxLayoutAlign="space-between start">

    <div fxFlex="20" class="item">
      <h3 class="page__title">Casting Date</h3>
      <h3 class="page__subtitle">Select a date & time for your casting</h3>
    </div>

    <div fxFlex="40" class="item">
      <h3 class="page__title">Triangle: The Web Series</h3>
      <h3 class="page__subtitle">Gavin Peice</h3>
    </div>

    <div fxFlex="20" class="item company">
      <div class="page__photo">
        <img src="assets/images/2.jpg" alt="">
      </div>
      <h3 class="page__title">Bad Robot</h3>
      <h3 class="page__subtitle">Mexico City Area, Mexico</h3>

      <button mat-button class="btn__close">
        <span class="icon-crewnie-icon-close svg-icon"></span>
      </button>
    </div>



  </div>


  <div class="bottom__navigetion" fxLayout="row">
    <div fxFlex></div>
    <div fxFlex="20" class="item">
      <button mat-button class="btn__cancel" (click)="cancelSchedule()">CANCEL</button>
    </div>
    <div fxFlex="20" class="item">
      <button mat-button class="btn__next" (click)="nextPage()">BLOCK</button>
    </div>
  </div>

</div>