<div class="view-image-portfolio-wrapper">



  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px" *ngIf="portfolioItem">


    <div fxFlex="50" class="view-container-left"  >

      <div class="script-item-wrapper">
        <div class="script-title"><h4>{{portfolioItem.portfolioItemTitle}}</h4></div>
        <div class="script-info">
            <div class="script-author">
                <h5 class="author-text">Author</h5>
                <h5 class="author-name">Author Name</h5>
              </div>
              <div class="script-class">
                <h5 class="class-text">Class</h5>
                <h5 class="class-name">Action/SiFi</h5>
              </div>
        </div>

        <div class="script" *ngIf="portfolioItem">
            <object id="scriptPreview"  type="application/pdf" data=""></object>
        </div>
      </div>

      <div class="item-overlay top">

        <div fxFlex="100" fxLayout class="social-buttons" fxLayoutAlign="center center">
          <div fxFlex></div>
          <button mat-button class="btn-share">
            <mat-icon aria-label="Example icon-button with a heart icon">favorite_border</mat-icon>
          </button>


          <button mat-button class="btn-share">
            <mat-icon aria-label="Example icon-button with a heart icon">share</mat-icon>
          </button>

          <button mat-button class="btn-share">
            <mat-icon aria-label="Example icon-button with a heart icon">fullscreen</mat-icon>
          </button>
        </div>

      </div>


    </div>

    <div fxFlex="30" class="view-container-right" *ngIf="currentUser" >
      <button mat-button class="btn-goback" (click)="goBack()">
        <mat-icon class="mat-18">close</mat-icon>
      </button>

      <div class="right-sidebar-top">

        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px" class="main-user-info">
          <div fxFlex="10%" class="user-avater">
            <a routerLink="/profile/info"><img [src]='sanitizer.bypassSecurityTrustUrl(currentUser.profilePhotoUrl)' class="avater"></a>
          </div>
          <div fxFlex="80">
            <div class="user-info">
              <a routerLink="/profile/info" class="user-name">
                <h4 mat-line>{{portfolioItem.portfolioItemDescription}}</h4>
              </a>
              <p mat-line>
                <a href="" *ngFor="let tag of portfolioItem.portfolioItemCategories" >#{{tag}}</a>
              </p>

            </div>
          </div>
        </div>

      </div>

      <div class="user-comments">
        <h4 class="user-name">Jhon Doe</h4>
        <p class="user-comment">Well! Thats prity good...</p>
        <div class="user-comment-data">
          <a class="like">Like</a>
          <a class="reply">Reply</a>
          <p class="comment-date">Nov 17, 2017, 10:36</p>
        </div>
      </div>

      <div class="portfolio-item-likes">
        <div class="item-like-count">{{portfolioItem.portfolioItemFavs}} Likes</div>
        <div class="item-publish-date">{{portfolioItem.portfolioItemDate.toDate() | date: 'mediumDate'}}</div>
      </div>

      <div class="user-comment-input">
        <mat-form-field class="item-comment-box">
          <textarea matInput placeholder="Add a comment"></textarea>
        </mat-form-field>

        <button mat-button class="btn-edit-content" [matMenuTriggerFor]="more">
          <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
        </button>

        <mat-menu #more="matMenu">
            <button mat-menu-item [routerLink]="['/profile/portfolio/update/script']" [queryParams]="{userId: userId,id: portfolioItem.portfolioId}" >
          <!-- <button mat-menu-item> -->
            <mat-icon>edit</mat-icon>Edit
          </button>
          <button mat-menu-item (click)="deletePortfolioItem()">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </mat-menu>

      </div>
    </div>

  </div>

</div>
