<div class="profile-setup-page">
  <div class="setup-header-left">
    <img class="profile-setup-logo" src="assets//images/icon-logo.png" alt="">
  </div>

  <mat-horizontal-stepper (animationDone)="stepAnimationDone($event)" (selectionChange)="selectionChange($event)">
    <!-- STEP 1 -->
    <mat-step [stepControl]="selectTypeForm">
      <ng-template matStepLabel>Profile</ng-template>
      <div class="setup-center-contents">
        <h1 class="step-title" t-font-regular>Welcome to Crewnie</h1>
        <form [formGroup]="selectTypeForm">
          <mat-card class="center-card">
            <h4 t-color-primary t-font-light>Let's create your account</h4>

            <div fxLayout="column" fxLayoutAlign="center center" class="form-profile-box">
              <p t-color-primary>Select a profile</p>
              <mat-form-field class="select-profile-type">
                <mat-select placeholder="Type">
                  <mat-option *ngFor="let type of profileTypeOptions" [value]="type">
                    {{ type }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
<!-- 
              <mat-form-field class="profile-textarea">
                <textarea matInput cdkAutosizeMinRows="5" placeholder="Director" matTextareaAutosize="true"></textarea>
              </mat-form-field> -->
              <div t-textarea class="profile-textarea">
                  <label for="textarea">
                    Label
                  </label>
                  <textarea t-width-full id="textarea"></textarea>
              </div>
            </div>


          </mat-card>
        </form>
      </div>

      <div class="setup-footer footer-0" fxLayout="row">
        <span fxFlex></span>
        <button mat-flat-button t-wide matStepperNext color="primary" class="next">Next</button>
      </div>
    </mat-step>

    <!-- STEP 2 -->
    <mat-step [stepControl]="personalInfoForm">
      <ng-template matStepLabel>Personal Info</ng-template>

      <div class="setup-center-contents">
        <form [formGroup]="personalInfoForm">
          <div class="setup-center-contents">
            <mat-card>
              <h4 t-color-primary t-font-light>Personal information</h4>

              <div fxLayout="row wrap">
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="First Name">
                  </mat-form-field>
                </div>
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Last Name">
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="33.33">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Nick Name">
                  </mat-form-field>
                </div>
                <div fxFlex="33.33">
                  <mat-form-field class="field">
                    <!-- <input matInput type="text" placeholder="Gender"> -->
                    <mat-select placeholder="Gender">
                      <mat-option [value]="'male'">Male</mat-option>
                      <mat-option [value]="'female'">Female</mat-option>
                      <mat-option [value]="'others'">Others</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div fxFlex="33.33">
                  <mat-form-field class="field">
                    <input matInput [matDatepicker]="birthDatePicker" placeholder="Birth date">
                    <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #birthDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="100">
                  Map Goes Here
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Address">
                    <mat-icon matSuffix>place</mat-icon>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Email">
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Company">
                  </mat-form-field>
                </div>
                <div fxFlex="10">
                  <mat-form-field class="field">
                    <mat-select placeholder="Experience">
                      <mat-option [value]="'0Year'">None</mat-option>
                      <mat-option [value]="'1Year'">1 Years</mat-option>
                      <mat-option [value]="'2Year'">2 Years</mat-option>
                      <mat-option [value]="'3Year'">3 Years</mat-option>
                      <mat-option [value]="'5Year'">5 Years</mat-option>
                      <mat-option [value]="'10Year'">10 Years</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="35">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Union">
                  </mat-form-field>
                </div>

                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Union</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>

              </div>

              <div fxLayout="row wrap">
                <div fxFlex="60">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Languages">
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="38">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Phone Number">
                  </mat-form-field>
                </div>
                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Mobile</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="7">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Personal</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="38">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Phone Number">
                  </mat-form-field>
                </div>
                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Mobile</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="7">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Personal</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="30.33">
                  <p matLine color="primary" class="setup-terms-text">I’ve read and agree to the
                    <a href="">Terms of Service</a>
                  </p>
                </div>
                <div class="setup-checkbox">
                  <!-- <mat-form-field class="field"> -->
                  <mat-label class="checkbox-label">Agree</mat-label>
                  <div class="setup-checkbox-holder">
                    <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                  </div>

                  <!-- </mat-form-field> -->
                </div>
              </div>




            </mat-card>
          </div>
        </form>
      </div>

      <div class="setup-footer footer-1" fxLayout="row">
          <button mat-flat-button t-wide matStepperPrevious color="primary" class="prev">Previous</button>
          <span fxFlex></span>
          <button mat-flat-button t-wide matStepperNext color="primary" class="next">Next</button>
      </div>
    </mat-step>

    <!-- STEP 3 -->
    <mat-step [stepControl]="carrierForm">
      <ng-template matStepLabel>Carrire</ng-template>

      <div class="setup-center-contents">
        <form [formGroup]="carrierForm">
          <div class="setup-center-contents">
            <mat-card>
              <h4 t-color-primary t-font-light>Carrier</h4>

              <div fxLayout="row wrap" t-mb-1>
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Main Profession" [matAutocomplete]="mainProfession">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #mainProfession="matAutocomplete">
                      <mat-option [value]="'UXDesigner'">Actor</mat-option>
                      <mat-option [value]="'UXDesigner'">Director</mat-option>
                      <mat-option [value]="'UXDesigner'">Photpgrapher</mat-option>
                      <mat-option [value]="'UXDesigner'">UI/UX Designer</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div fxFlex="15">
                  <mat-form-field class="field">
                    <mat-select placeholder="Union">
                      <mat-option [value]="'male'">Select One</mat-option>
                      <mat-option [value]="'female'">Female</mat-option>
                      <mat-option [value]="'others'">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Union</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="30">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter">
                    <mat-label class="setup-upload-coverletter-label">Cover Letter</mat-label>
                    <button mat-button color="primary" class="setup-upload-coverletter-button" (click)="openCoverletterdialog()">Upload Cover Letter</button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="100" style="overflow: hidden;">
                  <mat-divider style="position: relative;"></mat-divider>
                </div>
              </div>

              <div fxLayout="row wrap">
                <div fxFlex="100">
                  <h4 t-color-primary t-font-light class="setup-secondary-profession-title">Are You A Pro With Something Else?</h4>
                  <p matLine class="setup-secondary-profession-subtitle">You can add upto 3 secondary professions</p>
                </div>
              </div>

              <div fxLayout="row wrap" class="setup-secondary-profession">
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Secondary Profession" [matAutocomplete]="secondaryProfession">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #secondaryProfession="matAutocomplete">
                      <mat-option [value]="'UXDesigner'">Actor</mat-option>
                      <mat-option [value]="'UXDesigner'">Director</mat-option>
                      <mat-option [value]="'UXDesigner'">Photpgrapher</mat-option>
                      <mat-option [value]="'UXDesigner'">UI/UX Designer</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div fxFlex="15">
                  <mat-form-field class="field">
                    <mat-select placeholder="Union">
                      <mat-option [value]="'male'">Select One</mat-option>
                      <mat-option [value]="'female'">Female</mat-option>
                      <mat-option [value]="'others'">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Union</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="20">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter">
                    <mat-label class="setup-upload-coverletter-label">Cover Letter</mat-label>
                    <button mat-button color="primary" class="setup-upload-coverletter-button" (click)="openCoverletterdialog()">Upload Cover Letter</button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>

                <div fxFlex="10">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter-side">
                    <button mat-button color="primary" class="setup-upload-coverletter-side-button" disabled>
                      <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-button color="primary" class="setup-upload-coverletter-side-button">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>
              </div>

              <div fxLayout="row wrap" class="setup-secondary-profession">
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Secondary Profession 2" [matAutocomplete]="secondaryProfession">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #secondaryProfession="matAutocomplete">
                      <mat-option [value]="'UXDesigner'">Actor</mat-option>
                      <mat-option [value]="'UXDesigner'">Director</mat-option>
                      <mat-option [value]="'UXDesigner'">Photpgrapher</mat-option>
                      <mat-option [value]="'UXDesigner'">UI/UX Designer</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div fxFlex="15">
                  <mat-form-field class="field">
                    <mat-select placeholder="Union">
                      <mat-option [value]="'male'">Select One</mat-option>
                      <mat-option [value]="'female'">Female</mat-option>
                      <mat-option [value]="'others'">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Union</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="20">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter">
                    <mat-label class="setup-upload-coverletter-label">Cover Letter</mat-label>
                    <button mat-button color="primary" class="setup-upload-coverletter-button" (click)="openCoverletterdialog()">Upload Cover Letter</button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>

                <div fxFlex="10">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter-side">
                    <button mat-button color="primary" class="setup-upload-coverletter-side-button" disabled>
                      <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-button color="primary" class="setup-upload-coverletter-side-button">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>
              </div>

              <div fxLayout="row wrap" class="setup-secondary-profession">
                <div fxFlex="50">
                  <mat-form-field class="field">
                    <input matInput type="text" placeholder="Secondary Profession 3" [matAutocomplete]="secondaryProfession">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #secondaryProfession="matAutocomplete">
                      <mat-option [value]="'UXDesigner'">Actor</mat-option>
                      <mat-option [value]="'UXDesigner'">Director</mat-option>
                      <mat-option [value]="'UXDesigner'">Photpgrapher</mat-option>
                      <mat-option [value]="'UXDesigner'">UI/UX Designer</mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div fxFlex="15">
                  <mat-form-field class="field">
                    <mat-select placeholder="Union">
                      <mat-option [value]="'male'">Select One</mat-option>
                      <mat-option [value]="'female'">Female</mat-option>
                      <mat-option [value]="'others'">Others</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="5">
                  <div class="setup-checkbox">
                    <!-- <mat-form-field class="field"> -->
                    <mat-label class="checkbox-label">Union</mat-label>
                    <div class="setup-checkbox-holder">
                      <mat-checkbox color="primary" class="setup-checkbox-holder-checkbox"></mat-checkbox>
                    </div>
                    <!-- </mat-form-field> -->
                  </div>
                </div>
                <div fxFlex="20">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter">
                    <mat-label class="setup-upload-coverletter-label">Cover Letter</mat-label>
                    <button mat-button color="primary" class="setup-upload-coverletter-button" (click)="openCoverletterdialog()">Upload Cover Letter</button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>

                <div fxFlex="10">
                  <!-- <mat-form-field class="field"> -->
                  <div class="setup-upload-coverletter-side">
                    <button mat-button color="primary" class="setup-upload-coverletter-side-button" disabled>
                      <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-button color="primary" class="setup-upload-coverletter-side-button">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                  <!-- </mat-form-field> -->
                </div>
              </div>




            </mat-card>
          </div>
        </form>
      </div>

      <div class="setup-footer footer-2" fxLayout="row">
          <button mat-flat-button t-wide matStepperPrevious color="primary" class="prev">Previous</button>
          <span fxFlex></span>
          <button mat-flat-button t-wide matStepperNext color="primary" class="next">Next</button>
      </div>
    </mat-step>

    <!-- STEP 4 -->
    <mat-step [stepControl]="profileForm">
      <ng-template matStepLabel>Profile</ng-template>

      <div class="setup-center-contents">
        <form [formGroup]="carrierForm">
          <div class="setup-center-contents">
            <mat-card class="setup-profile-card">
              <!-- <h4 t-color-primary t-font-light>Profile</h4> -->

              <div fxLayout="row wrap" fxLayoutAlign="center center">
                
                <div fxFlex="100" class="setup-profile-cover-photo-wrapper" (click)="changeProfileCoverPhoto()">
                  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="setup-profile-coverphoto">
                    <div fxFlex="35" >
                      
                        <h4 t-color-primary t-font-light class="setup-profile-cover-photo-title"> 
                          <img src="assets/images/cloud-upload.png" class="setup-profile-cover-photo-icon">
                          UPLOAD COVER PHOTO
                        </h4>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                
                  <div fxFlex="100" class="setup-profile-photo-wrapper">
                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
                        <div fxFlex="35" class="setup-profile-profile-photo-wrapper" (click)="changeProfilePhoto()">
                          <div class="setup-profile-profile-photo">
                              <img src="assets/images/cloud-upload.png">
                          </div>
                            
                        </div>
                      </div>
                    </div>
              </div>
              
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                
                  <div fxFlex="100" class="setup-profile-details-wrapper">
                      
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" >
                        <div fxFlex="35" class="setup-profile-profile-details-basic">
                            <h4 t-color-primary t-font-light class="setup-profile-details-basic__name">Argenis Vega, 33</h4> 
                            <h4 t-color-primary t-font-light class="setup-profile-details-basic__profession">B. A. Graphic Design</h4> 
                            <h4 t-color-primary t-font-light class="setup-profile-details-basic__address">CDMX, México</h4> 
                        </div>
                      </div>
                      
                      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                        <div fxFlex="90" class="setup-profile-profile-details-basic">
                      
                          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Email">
                              </mat-form-field>
                            </div>
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Languages">
                              </mat-form-field>
                            </div>
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Company">
                              </mat-form-field>
                            </div>
                          </div>

                          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Phone">
                              </mat-form-field>
                            </div>
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Age">
                              </mat-form-field>
                            </div>
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Agency">
                              </mat-form-field>
                            </div>
                          </div>
                          
                          <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Mobile">
                              </mat-form-field>
                            </div>
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                <input matInput type="text" placeholder="Union">
                              </mat-form-field>
                            </div>
                            <div fxFlex="33.33" class="setup-profile-profile-details-basic">
                              <mat-form-field class="field">
                                  <mat-select placeholder="Experience">
                                      <mat-option [value]="'0Year'">None</mat-option>
                                      <mat-option [value]="'1Year'">1 años</mat-option>
                                      <mat-option [value]="'2Year'">2 años</mat-option>
                                      <mat-option [value]="'3Year'">3 años</mat-option>
                                      <mat-option [value]="'5Year'">5 años</mat-option>
                                      <mat-option [value]="'10Year'">10 años</mat-option>
                                    </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                      
                        </div>
                      </div>
                  </div>
              </div>

            </mat-card>
          </div>
        </form>
      </div>

      <div class="setup-footer footer-3" fxLayout="row">
        <button mat-flat-button t-wide matStepperPrevious color="primary" class="prev">Previous</button>
        <span fxFlex></span>
        <button mat-flat-button t-wide matStepperNext color="primary" class="next">Next</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div>