<div class="main-wrapper">


  <div fxLayout="row wrap" class="topbar topbar--black">

    <div fxFlex="20" class="topbar__logo">
      <button mat-button class="topbar__back__btn" (click)="prevStep()">
        <span class="icon-crewnie-icon-arrow-back svg-icon"></span>
      </button>
    </div>

    <div fxFlex="20" class="topbar__title">
      <h4>Depertmants</h4>
    </div>

    <div fxFlex></div>
    <div fxFlex="20" class="topbar__stepper">
      <img src="assets/images/step-workgroup.png" alt="">
    </div>
    <div fxFlex></div>

    <div fxFlex="20" class="topbar__close">
      <button mat-button class="topbar__close__btn" (click)="cancelProjectCreate()">
        <span class="icon-crewnie-icon-close svg-icon"></span>
      </button>
    </div>


  </div>

  <div class="main-content">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" class="content content--workgroup">

      <div fxFlex="32" class="item item--active" *ngFor="let department of departments">
        <usergroup-card [department]="department" (department)="getGroupData($event, department)"></usergroup-card>
      </div>
      <!-- <div fxFlex="23" class="item item--active">
        <usergroup-card [userGroup]='userGroup'></usergroup-card>
      </div> -->

      <div fxFlex="5" class="add-workgroup">
        <button mat-fab color="primary" (click)="addUserGroup()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div fxLayout="row wrap" class="bottombar bottombar--black">

    <div fxFlex></div>
    <div fxFlex="20" class="bottombar__next">
      <button mat-button class="bottombar__next__btn" (click)="nextStep()">NEXT</button>
    </div>

  </div>


</div>