<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" fxLayoutGap="0px" class="view-video-portfolio-wrapper"
  *ngIf="portfolioItem">

  <button mat-button class="btn-goback" (click)="goBack()">
    <mat-icon class="mat-18">close</mat-icon>
  </button>

  <div fxFlex="75" class="video-container">

    <div class="video-top">
      <a href="">
        <h4 class="video-title">{{portfolioItem.portfolioItemTitle}}</h4>
      </a>


    </div>


    <!-- <div class="btn-overlay">

      <button mat-button class="btn-favorite">
        <span class="fav-count">{{portfolioItem.portfolioItemComments}} Comments</span>
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>


      <button mat-button class="btn-favorite">
        <span class="fav-count">{{portfolioItem.portfolioItemFavs}} Likes</span>
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button mat-button class="btn-favorite">
        <span class="fav-count">Share</span>
        <mat-icon>share</mat-icon>
      </button>


    </div> -->

    <video #videoPreview id="currentVideoPreview" controls autoplay>
      <!-- <source [src]='sanitizer.bypassSecurityTrustUrl(portfolioItem.portfolioVideo)' type="video/mp4"> -->
      <!-- <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg"> -->
      <!-- <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm"> -->
      Your browser does not support HTML5 video.
    </video>

    <!-- <audio autoplay controls>
      <source src="https://firebasestorage.googleapis.com/v0/b/crewnie-test.appspot.com/o/testZone%2FSampleAudio_0.7mb.mp3?alt=media&token=a93d11da-39e0-43d7-b1e1-8d2090275e09" type="audio/mp3">
      <source src="horse.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio> -->

  </div>

  <div fxFlex="30" fxFlex.xs="100" class="view-container-right" *ngIf="portfolioItem && currentUser">

    <div class="right-sidebar-top">

      <div fxLayout="row"  fxLayoutAlign="start start" fxLayoutGap="5px" class="main-user-info">
        <div fxFlex="10%" class="user-avater">
          <a routerLink="/profile/info"><img [src]='sanitizer.bypassSecurityTrustUrl(currentUser.profilePhotoUrl)'
              class="avater"></a>
        </div>
        <div fxFlex="80">
          <div class="user-info">
            <a routerLink="/profile/info" class="user-name">
              <h4 mat-line>{{portfolioItem.portfolioItemDescription}}</h4>
            </a>
            <p mat-line>
              <a href="" *ngFor="let tag of portfolioItem.portfolioItemCategories">#{{tag}}</a>
            </p>

          </div>
        </div>
      </div>

    </div>

    <div class="user-comments">

        <div class="main-comment" *ngFor="let comment of commentItem">
          <h4 class="user-name">{{comment.commentUserName}}</h4>
          <p class="user-comment">{{comment.commentText}}</p>
          <div class="user-comment-data">
            <a class="like">Like</a>
            <a class="reply">Reply</a>
            <p class="comment-date">{{comment.commentDate.toDate() | date: 'mediumDate'}}</p>
          </div>
          <button mat-button class="delete-comment" (click)="deleteComment(comment.commentId)">
            <mat-icon class="mat-18">close</mat-icon>
          </button>
        </div>
      </div>

    <div class="portfolio-item-likes">
      <div class="item-like-count">{{portfolioItem.portfolioItemFavs}} Likes</div>
      <div class="item-publish-date">{{portfolioItem.portfolioItemDate.toDate() | date:'mediumDate'}}</div>
    </div>

    <div class="user-comment-input">
        <form [formGroup]="commentForm">
            <mat-form-field class="item-comment-box">
              <textarea matInput placeholder="Add a comment" formControlName="commentText"></textarea>
              <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="addComment()">
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </form>

      <button mat-button class="btn-edit-content" [matMenuTriggerFor]="more">
        <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
      </button>

      <mat-menu #more="matMenu">
        <button mat-menu-item [routerLink]="['/profile/portfolio/update/video']" [queryParams]="{userId: userId,id: portfolioItem.portfolioId}">
          <mat-icon>edit</mat-icon>Edit
        </button>
        <button mat-menu-item (click)="deletePortfolioItem()">
          <mat-icon>delete</mat-icon>Delete
        </button>
      </mat-menu>

    </div>
  </div>

</div>