@import '~@angular/material/theming';
@include mat-core();

$palette-primary: (
    50 : #ffe8e0,
    100 : #fec6b3,
    200 : #fea080,
    300 : #fd794d,
    400 : #fc5d26,
    500 : #fc4000,
    600 : #fc3a00,
    700 : #fb3200,
    800 : #fb2a00,
    900 : #fa1c00,
    A100 : #ffffff,
    A200 : #ffeeed,
    A400 : #ffbfba,
    A700 : #ffa7a1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$palette-accent: (
    50 : #fef4e5,
    100 : #fce4bd,
    200 : #fad391,
    300 : #f8c165,
    400 : #f7b344,
    500 : #f5a623,
    600 : #f49e1f,
    700 : #f2951a,
    800 : #f08b15,
    900 : #ee7b0c,
    A100 : #ffffff,
    A200 : #fff1e5,
    A400 : #ffd4b2,
    A700 : #ffc698,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($palette-primary);
$accent:  mat-palette($palette-accent);

$mat-theme: mat-light-theme($primary, $accent);
@include angular-material-theme($mat-theme);