.btn-simple {
  color: #000000 !important;
  background-color: transparent !important;
  min-width: auto !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0) !important;
  border-radius: 30px !important;
}

.btn-simple:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0) !important;
}

button {
  .active {
    color: #fc4000;
  }
}

.portfolio-wrapper {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

.portfolio-container {
  max-width: 1140px !important;
  margin-bottom: 20px;
}

.portfolio-item-categoris {
  width: 100%;

  .portfolio-item-button {
    width: 50px;
    height: 55px;
    min-width: 50px;
    min-height: 55px;
    margin: 0;
    padding: 0;
    font-size: 17px;
  }
  mat-icon {
    font-size: 25px;
  }

  .active {
    color: #fc4000;
    border-bottom: 4px solid #fc4000;
  }
}

.portfolio-container {
  .filter-chip-list {
    width: 100%;

    .tag {
      background-color: #ffffff;
      color: #fc4000;
      border: 1px solid #fc4000;
      border-radius: 0 !important;

      .mat-icon {
        opacity: 1;
        color: #fc4000;
        font-weight: 600;
      }


    }

    .active {
      background-color: #fc4000;
      color: #ffffff;
      border: 1px solid #fc4000;
      border-radius: 0 !important;

      .mat-icon {
        opacity: 1;
        color: #ffffff;
        font-weight: 600;
      }
    }
  }

  .portfolio-item-audio-square {
    width: 100%;
    position: relative;
    margin-bottom: 20px;

    img {
      width: 100%;
    }

    .title {
      width: 100%;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      color: #fc4000;
      cursor: pointer;
    }

    .views {
      width: 100%;
      margin: 0;
      text-align: left;
      font-size: 12px;
      font-weight: 500;
      color: #919191;
      cursor: pointer;
    }

    .tag {
      margin: 0;
      display: inline-block;
      color: #fc4000;
      font-size: 12px;
      font-weight: 500;
      margin-right: 5px;
      cursor: pointer;
    }

    .favourit {
      position: absolute;
      left: 5px;
      top: 5px;
      color: #fc4000;
    }

    .comments {
      position: absolute;
      right: 5px;
      top: 5px;
      color: #fc4000;
    }
  }
}

.sort-menu {
  width: 250px;

  .mat-icon {
    margin-left: 20px;
  }
}

//===== Portfolio-Item-Image =========

.portfolio-item-square {
  position: relative;
  width: 100%;
  max-width: 370px;
  max-height: 370px;
  min-width: 340px;
  min-height: 340px;
  margin: 0 auto;
  margin-bottom: 10px !important;
}

.portfolio-item-square .image-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.portfolio-item-square .image-wrapper .image-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.portfolio-item-square .image-wrapper:hover .image-overlay {
  opacity: 1;
}

.portfolio-item-square img {
  width: inherit;
  height: inherit;
}

.action-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;
}
.action-wrapper .action {
  text-align: center;
}
.action-wrapper .simple-button {
  background-color: transparent !important;
  padding: 10px !important;
  min-width: auto !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0),
    0 1px 5px 0 rgba(0, 0, 0, 0) !important;
  border-radius: 30px !important;
}

.simple-button mat-icon {
  font-size: 40px;
  height: 40px !important;
  width: 40px !important;
  margin-right: 5px;
}

.simple-button span {
  font-size: 25px;
}

.portfolio-item-wide {
  width: 100%;
  max-height: 230px;
}

// ======== Portfolio Item Media =========

.media-item {
  position: relative;
  width: 100%;
}

.video-item .image-wrapper,
.media-item.audio-item .image-wrapper {
  max-width: 100%;
  max-height: 280px;
  min-height: 280px;
  overflow: hidden;
}

.item-image {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #000;
}

.item-image img {
  object-fit: contain !important;
  object-position: center !important;
  width: 100% !important;
  height: 100% !important;
}

.item-image.portfolio-image img {
  object-fit: cover !important;
}

.media-item .overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: block;
}

.action.play-button {
  position: absolute;
  top: 40%;
  width: 100%;
  opacity: 0;
}

.media-item .overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.media-item .overlay:hover .action.play-button {
  opacity: 1;

  mat-icon {
    margin-right: 0 !important;
  }
}

.action.duration {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-align: right !important;
}

.time-duration {
  width: 100%;
  padding: 3px 10px;
  background-color: rgba(97, 97, 97, 0.5);
  border-radius: 3px;
}

.time-duration span {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}

.media-item .footer {
  width: 100%;
  height: auto;
}

.media-item .footer * {
  width: 100%;
}

.media-item .footer .title {
  color: #fc4000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 10px 0 0 0;
}

.media-item .footer .item-views {
  color: #999999;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
}

.media-item .footer .tag-list {
  display: block;
  margin: 5px 0;
}

.tag-list * {
  margin-right: 10px;
  display: inline;
  text-align: left;
}

.tag-list .tag {
  color: #fc4000;
  font-size: 15px;
  font-weight: 400;
}

.portfolio-item-wide .title {
  color: #fc4000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 0 10px;
}

.portfolio-item-wide .sub-title {
  color: #999999;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  margin: 10px;
}

.portfolio-item-wide .tag-list {
  text-align: right;
}

// ======= Audio wide ============

.audio-wide {
  width: 100%;
}

.portfolio-item-wide .audio-frequency-wrapper {
  width: 100%;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #919191;
}

.portfolio-item-wide .audio-duration-wrapper {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.audio-duration-wrapper .time {
  font-size: 15px;
  font-weight: 300;
  color: #999999;
  margin: 0;
}

.portfolio-item-wide .comment-wrapper {
  width: 100%;
  margin: -10px 10px;

  mat-form-field {
    width: 100%;

    mat-icon {
      top: 5px;
      position: relative;
      margin-right: 10px;
    }
  }
}

.portfolio-item-wide .share-wrapper {
  width: 100%;
  margin: 0;

  .share-item {
    position: relative;
    top: -15px;

    button {
    }
    span {
      font-size: 17px;
      font-weight: 400;
      margin-left: 5px;
    }
  }
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// ======= Portfolio item script ========

.item-script {
  position: relative;
  width: 100%;
  min-height: 250px;
}

.item-script .script-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 230px;
  padding: 15px;
}

.script-image-wrapper img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.script-image-wrapper .script-title {
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}

.script-image-wrapper .script-description {
  color: #fff;
  text-align: center;
  font-size: 17px;
  margin: 10px 40px;
}
.script-image-wrapper .script-author {
  color: #fff;
  text-align: center;
  margin: 0;
}

.fixed-top-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .item-left {
    text-align: left;

    span {
      color: #fff;
      font-weight: 500;
      margin-left: -5px;
    }
  }

  .item-right {
    text-align: right;

    span {
      color: #fff;
      font-weight: 500;
      margin-right: -5px;
    }
  }
}

.fixed-bottom-row {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  .item-left {
    text-align: center;
  }

  .item-right {
    text-align: center;
    margin-right: 10px;

    .time-duration {
      width: max-content;
      padding: 1px 5px;
      background-color: rgba(97, 97, 97, 0.5);
      border-radius: 1px;
    }
  }
}

.script-image-wrapper .top-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  .btn-favourit {
    text-align: center;
  }

  .btn-comment {
    text-align: center;
  }
}

.script-info-wrapper .title {
  color: #fc4000;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin: 10px 0 0 0;
}

.script-info-wrapper .item-views {
  color: #999999;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
}

.script-info-wrapper .item-tags {
  display: block;
  margin: 0;

  .tag {
    color: #fc4000;
    font-size: 15px;
    font-weight: 400;
    margin-right: 5px;
  }
}

.script-wide {
  width: 100%;
  margin-bottom: 20px;
}

// =============

.icon-wrapper-small {
  max-width: 40px !important;
}

.script-intro {
  position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

.script-intro .script-title,
.script-intro .script-description,
.script-intro .script-author {
  color: #ffffff;
  text-align: center;
}


.image-item .image-wrapper {
  max-width: 100%;
    max-height: -webkit-fill-available;
    min-height: -webkit-fill-available;
    overflow: hidden;
}

.fab-action-button {
  position: fixed !important;
  right: 35px !important;
  bottom: 10px !important;


}


@media screen and (max-width: 599px) {

  .portfolio-item-square {
    max-width: 100%;
    padding: 0 10px;
  }

}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .portfolio-wrapper {
    padding-top: 5px !important;
  }

  .portfolio-container {
    margin-bottom: 5px !important;
  }

  .portfolio-item-square {
    max-width: 100%;
    padding: 0 10px;
    padding-left: 5px !important;
    padding-right: 0;
    margin-bottom: 5px !important;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .portfolio-item-square {
    max-width: 100%;
    padding: 0 10px;
  }
}
