<div class="portfolio-wrapper">

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px">

    <div fxFlex="70" class="portfolio-container">

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px">

        <div fxFlex="80" fxFlex.lt-sm="100" class="portfolio-item-categoris">

          <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="10px">
            <div fxFlex="6" fxFlex.lt-sm="15">
              <button mat-button class="portfolio-item-button" [class.active]="isAllProtfolio" (click)="selectPortfolio(0)">All</button>
            </div>
            <div fxFlex="6"  fxFlex.lt-sm="15">
              <button mat-button class="portfolio-item-button" [class.active]="isImage" (click)="selectPortfolio(1)">
                <mat-icon>photo_library</mat-icon>
              </button>
            </div>
            <div fxFlex="6"  fxFlex.lt-sm="15">
              <button mat-button class="portfolio-item-button" [class.active]="isVideo" (click)="selectPortfolio(2)">
                <mat-icon>video_library</mat-icon>
              </button>
            </div>
            <div fxFlex="6" fxFlex.lt-sm="15">
              <button mat-button class="portfolio-item-button" [class.active]="isAudio" (click)="selectPortfolio(3)">
                <mat-icon>library_music</mat-icon>
              </button>
            </div>
            <div fxFlex="6" fxFlex.lt-sm="15">
              <button mat-button class="portfolio-item-button" [class.active]="isScript" (click)="selectPortfolio(4)">
                <mat-icon>description</mat-icon>
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div fxFlex="50" class="portfolio-container">

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="0px">

        <div fxFlex="60" fxFlex.lt-md="80">
          <mat-form-field class="filter-chip-list">
            <mat-chip-list #chipList>
              <mat-chip class="tag" *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                (removed)="remove(tag)">
                {{tag.name}}
                <mat-icon matChipRemove *ngIf="removable">clear</mat-icon>
              </mat-chip>

              <input placeholder="Filter portfolio..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
              <button mat-icon-button>
                <mat-icon matSuffix>search</mat-icon>
              </button>
            </mat-chip-list>
          </mat-form-field>
        </div>

        <div fxFlex="5" class="icon-wrapper-small">
          <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-simple">
            <mat-icon matSuffix>swap_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu" class="sort-menu">
            <!-- <button mat-menu-item>Most Recent <mat-icon matSuffix>check</mat-icon></button> -->
            <button mat-menu-item>Most Recent</button>
            <button mat-menu-item>Most Popular</button>
            <button mat-menu-item>A - Z</button>
            <button mat-menu-item>Z - A</button>
          </mat-menu>
        </div>

        <!-- <div fxFlex="5" class="icon-wrapper-small">
          <button mat-icon-button class="btn-simple" *ngIf="isAudio" (click)="selectPortfolioItemWide('0')">
            <mat-icon [class.active]="!isAudioWide">apps</mat-icon>
          </button>
        </div> -->

        <!-- <div fxFlex="5" class="icon-wrapper-small">
          <button mat-icon-button class="btn-simple" *ngIf="isAudio" (click)="selectPortfolioItemWide('1')">
            <mat-icon [class.active]="isAudioWide">reorder</mat-icon>
          </button>
        </div> -->


      </div>

    </div>

    <div fxFlex="100" class="portfolio-container">

      <div fxLayout="row wrap" fxLayoutAlign="start start">

          <div fxFlex.gt-md="33.33" fxFlex.md="50" fxFlex.xs="100" fxFlex.gt-xs="50" *ngFor="let portfolio of filteredPortfolios">

            <div class="portfolio-item-square"  *ngIf="portfolio.portfolioType=='image'">

              <div fxLayout="column" fxLayoutAlign="space-between stretch" class="media-item image-item">

                <div fxFlex="100">

                  <div class="image-wrapper">

                    <div fxLayout="column wrap" fxLayoutAlign="center stretch" class="item-image portfolio-image">
                      <div fxFlex="100">
                        <img [src]='sanitizer.bypassSecurityTrustUrl(portfolio.portfolioThumb)'>
                      </div>
                    </div>

                    <div class="overlay">

                      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="15px" class="action-wrapper">

                        <div fxFlex="100" class="action play-button">
                          <button mat-flat-button class="simple-button" [routerLink]="['/profile/portfolio/image']" [queryParams]="{userId: userID,id: portfolio.portfolioId}">
                            <mat-icon style="color:#fff">photo_size_select_actual</mat-icon>
                          </button>
                        </div>
                      </div>

                      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-top-row">
                        <div fxFlex="20" class="item-left">
                          <button mat-icon-button class="btn-simple">
                            <mat-icon style="color:#fff">favorite</mat-icon>
                          </button><span style="color:#fff">{{portfolio.portfolioItemFavs}}</span>
                        </div>
                        <div fxFlex="20" class="item-right">
                          <span style="color:#fff">{{portfolio.portfolioItemComments}}</span>
                          <button mat-icon-button class="btn-simple">
                            <mat-icon style="color:#fff">comment</mat-icon>
                          </button>
                        </div>
                      </div>

                      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-bottom-row">
                        <div fxFlex="10" class="item-left">
                          <mat-icon style="color:#fff">photo</mat-icon>
                        </div>
                        <div fxFlex="40" fxLayout="row" class="item-right">
                          <div fxFlex></div>
                          <div class="time-duration">
                            <span>by @expert_image</span>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </div>

            </div>

            <div class="portfolio-item-square" *ngIf="portfolio.portfolioType=='video'">

                <div fxLayout="column" fxLayoutAlign="space-between stretch" class="media-item video-item">

                  <div fxFlex="100">

                    <div class="image-wrapper">

                      <div fxLayout="column wrap" fxLayoutAlign="center stretch" class="item-image">
                        <div fxFlex="100">
                          <img [src]='sanitizer.bypassSecurityTrustUrl(portfolio.portfolioThumb)'>
                        </div>
                      </div>

                      <div class="overlay">

                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="15px" class="action-wrapper">
                          <div fxFlex="100" class="action play-button">
                            <button mat-flat-button class="simple-button" [routerLink]="['/profile/portfolio/video']" [queryParams]="{userId: userID,id: portfolio.portfolioId}">
                              <mat-icon style="color:#fff">play_circle_outline</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-top-row">
                          <div fxFlex="20" class="item-left">
                            <button mat-icon-button class="btn-simple">
                              <mat-icon style="color:#fff">favorite</mat-icon>
                            </button>
                            <!-- <span style="color:#fff">120</span> -->
                          </div>
                          <div fxFlex="20" class="item-right">
                            <!-- <span style="color:#fff">20</span> -->
                            <button mat-icon-button class="btn-simple">
                              <mat-icon style="color:#fff">comment</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-bottom-row">
                          <div fxFlex="10" class="item-left">
                            <mat-icon style="color:#fff">theaters</mat-icon>
                          </div>
                          <div fxFlex="20" fxLayout="row" class="item-right">
                            <div fxFlex></div>
                            <div class="time-duration">
                              <span>8:88</span>
                            </div>
                          </div>
                        </div>



                      </div>

                    </div>
                  </div>
                  <div fxFlex></div>

                  <div fxFlex="100">
                    <div class="footer">
                      <a routerLink="/profile/portfolio/video" ><h4 class="title">{{portfolio.portfolioItemTitle}}</h4></a>
                      <p class="item-views">{{portfolio.portfolioItemViews}} views - 3 days ago</p>
                      <div class="tag-list">
                        <a href="#" class="tag" *ngFor="let tag of portfolio.portfolioItemCategories" >#{{tag}}</a>
                      </div>

                    </div>
                  </div>

                </div>

            </div>

            <div class="portfolio-item-square" *ngIf="portfolio.portfolioType=='audio'">

                <div fxLayout="column" fxLayoutAlign="space-between stretch" class="media-item video-item">

                  <div fxFlex="100">

                    <div class="image-wrapper">

                      <div fxLayout="column wrap" fxLayoutAlign="center stretch" class="item-image">
                        <div fxFlex="100">
                          <img [src]='sanitizer.bypassSecurityTrustUrl(portfolio.portfolioThumb)'>
                        </div>
                      </div>

                      <div class="overlay">

                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="15px" class="action-wrapper">
                          <div fxFlex="100" class="action play-button">
                            <button mat-flat-button class="simple-button" [routerLink]="['/profile/portfolio/audio']" [queryParams]="{userId: userID,id: portfolio.portfolioId}">
                              <mat-icon style="color:#fff">play_circle_outline</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-top-row">
                          <div fxFlex="20" class="item-left">
                            <button mat-icon-button class="btn-simple">
                              <mat-icon style="color:#fff">favorite</mat-icon>
                            </button><span style="color:#fff">120</span>
                          </div>
                          <div fxFlex="20" class="item-right">
                            <span style="color:#fff">20</span>
                            <button mat-icon-button class="btn-simple">
                              <mat-icon style="color:#fff">comment</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-bottom-row">
                          <div fxFlex="10" class="item-left">
                            <mat-icon style="color:#fff">theaters</mat-icon>
                          </div>
                          <div fxFlex="20" fxLayout="row" class="item-right">
                            <div fxFlex></div>
                            <div class="time-duration">
                              <span>8:88</span>
                            </div>
                          </div>
                        </div>



                      </div>

                    </div>
                  </div>
                  <div fxFlex></div>

                  <div fxFlex="100">
                    <div class="footer">
                      <a routerLink="/profile/portfolio/video" ><h4 class="title">{{portfolio.portfolioItemTitle}}</h4></a>
                      <p class="item-views">{{portfolio.portfolioItemViews}} views - 3 days ago</p>
                      <div class="tag-list">
                        <a href="#" class="tag" *ngFor="let tag of portfolio.portfolioItemCategories" >#{{tag}}</a>
                      </div>

                    </div>
                  </div>

                </div>

            </div>

            <div class="portfolio-item-square" *ngIf="portfolio.portfolioType=='script'">

              <div fxLayout="column" fxLayoutAlign="space-between stretch" class="media-item video-item">

                <div fxFlex="100">

                  <div class="image-wrapper">

                    <div fxLayout="column wrap" fxLayoutAlign="center stretch" class="item-image">

                      <div fxFlex="100">
                        <img [src]='sanitizer.bypassSecurityTrustUrl(portfolio.portfolioThumb)'>
                      </div>

                    </div>

                    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px" class="script-intro">

                      <div fxFlex="20">
                        <h4 class="script-title">Title</h4>
                      </div>
                      <div fxFlex="50">
                        <p class="script-description">Plot: {{portfolio.portfolioItemDescription}}</p>
                      </div>
                    </div>

                    <div class="overlay">
                      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="15px" class="action-wrapper">
                        <div fxFlex="100" class="action play-button">
                          <button mat-flat-button class="simple-button" [routerLink]="['/profile/portfolio/script']" [queryParams]="{userId: userID,id: portfolio.portfolioId}">
                            <mat-icon style="color:#fff">pageview</mat-icon>
                          </button>
                        </div>
                      </div>
                      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-top-row">

                        <div fxFlex="10" class="item-left">
                          <button mat-icon-button class="btn-simple">
                            <mat-icon style="color:#fff">favorite_border</mat-icon>
                          </button>
                        </div>

                        <div fxFlex="10" class="item-right">
                          <button mat-icon-button class="btn-simple">
                            <mat-icon style="color:#fff">comment</mat-icon>
                          </button>
                        </div>

                      </div>

                      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxFlex="100" class="fixed-bottom-row">

                        <div fxFlex="10" class="item-left">
                          <mat-icon style="color:#fff">receipt</mat-icon>
                        </div>

                        <div fxFlex="40" fxLayout="row" class="item-right">
                          <div fxFlex></div>
                          <div class="time-duration">
                            <span>by @Author</span>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                </div>
                <div fxFlex></div>

                <div fxFlex="100">
                  <div class="footer">
                    <h4 class="title">{{portfolio.portfolioItemTitle}}</h4>
                    <p class="item-views">{{portfolio.portfolioItemViews}} views - 3 days ago</p>
                    <div class="tag-list">
                      <a href="#" class="tag" *ngFor="let tag of portfolio.portfolioItemCategories">#{{tag}}</a>
                    </div>

                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

    </div>

  </div>

</div>

<ngc-float-button class="fab-action-button" icon="add" color="primary">
  <!-- <ngc-float-item-button icon="photo" class="active-fab" routerLink="/profile/portfolio/add/image"></ngc-float-item-button> -->
  <ngc-float-item-button icon="photo" routerLink="/profile/portfolio/add/image"></ngc-float-item-button>
  <ngc-float-item-button icon="movie_filter"  routerLink="/profile/portfolio/add/video"></ngc-float-item-button>
  <ngc-float-item-button icon="music_note"  routerLink="/profile/portfolio/add/audio"></ngc-float-item-button>
  <ngc-float-item-button icon="note" routerLink="/profile/portfolio/add/script"></ngc-float-item-button>
</ngc-float-button>
